html, body {
    height: 100%;
    margin: 0;
    background-color: #609372;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.table {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.other-players {
    width: 60%;
    margin: 5rem;
}

.main-player {
    width: 40%;
    margin: 5rem;
}
